/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  padding: 5px;
  margin-bottom :10px;
  position: relative;
  border-radius: 5px;
}
.stories-list > li:hover {
  background-color: #ccc;
}
#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */
.story{
  display:inline-block;
}
.story-link {
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: inline-block;
}

.user-buttons{
    position: relative;
    float:right;
    margin:3px 0px;
}
.delete-button{
  font-size: 1.6rem;
  font-weight: 500;
  padding:5px;
  line-height: 30px;
  border-radius: 8px;
}
.delete-button:hover{
  cursor: pointer;
  background-color: red;
  color:white;
}

.mod-button{
  font-size: 1.6rem;
  font-weight: 500;
  padding:5px;
  line-height: 30px;
  border-radius: 8px;
}
.mod-button:hover{
  cursor: pointer;
  background-color: grey;
  color:white;
}
.fav-story-icon{
  float: left;
  font-size: 1.5rem;
  margin: 5px;
  color:black;
}
.favorited{
  color:red;
}